html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: rgb(249, 247, 196);
}

.container {
  display: flex;
  /* l'un en dessous de l'autre */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* centrer horizontalement */
  align-items: center;
  -ms-flex-align: center;
  width: 650px;
  background-color: rgb(255, 255, 255);
}

.rowEssais {
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  width: 600px;
  padding: 2px;
  background-color: rgb(198, 200, 168);
  border: 1px solid black;
}

.correction {
  width: 120px;
  background-color: #a493b8;
  border: 1px solid black;
}

.essais {
  width: 100px;
  background-color: #afb893;
  border: 1px solid black;
}

.pion {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.rouge {
  background-color: red;
}

.bleu {
  background-color: blue;
}

.vert {
  background-color: green;
}

.gris {
  background-color: gray;
}

.violet {
  background-color: purple;
}

.cyan {
  background-color: aqua;
}